/* LAATSTE VERSIE */

@font-face {
    font-family: 'MyFont';
    src: url(/font/TitilliumWeb-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'MyFont';
    src: url(/font/TitilliumWeb-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'MyFont';
    src: url(/font/TitilliumWeb-Light.ttf);
    font-weight: 300;
}

:root {
    --blue-accent-color: #2771de;
    --blue-accent-color-light: #4992ff;
    --blue-accent-color-dark: #1f48ff;
    --status-available: #008000;
    --status-available-icon: #00cc00;
    --status-unavailable: #ffa500;
    --status-outofuse: #b60000;
    --green-faded: #a9e8a9;
    --green-bezig: #186918;
    --yellow-faded: #fffbc2;
    --yellow-wachten: #944a00;
    --red-faded: #ffcccc;
    --red-verlopen: #b10303;
    --red-dark: #8f3d3d;
    --grey-bg: #f7f7f7;
    --grey-bg-dark: #6b6969;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 100%;
    line-height: 1.5;
    font-family: 'MyFont', arial, sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::selection {
    background: var(--blue-accent-color-light);
    color: white;
    text-shadow: none;
}

a {
    color: var(--blue-accent-color);
}

a:visited,
a:active {
    color: var(--blue-accent-color-dark);
}

a:hover,
a:focus {
    color: var(--blue-accent-color-light);
}

img {
    max-width: 100%;
    vertical-align: top;
}

p {
    margin: 0;
}

/*Lockerdetailpage*/

.header_smartlocker {
    height: 4.5rem;
    width: 100%;
    background-color: var(--blue-accent-color);
    color: white;
    font-size: 2rem;
    font-weight: 400;
    align-items: center;
}

@media (max-width: 400px) {
    .header_smartlocker {
        font-size: 1.5rem;
    }
}

.header_smartlocker_center {
    margin: auto;
}

.flex {
    display: flex;
}

.header_left_icon {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    left: 1.5rem;
    cursor: pointer;
}

.header_right_icon {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
}

.header_right_icon_profile {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 4rem;
    cursor: pointer;
}

.booking_icon {
    height: 1.5rem;
    width: 1.5rem;
}

.reservatiebtntext {
    align-self: center;
    margin-left: 8px;
}

.locker_detail_content {
    margin: 1.5rem 1.75rem 1.75rem 1rem;
}

.locker_detail_content_title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25;
    color: var(--blue-accent-color);
    margin-bottom: 0.5rem;
}

.locker_detail_content_info {
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.locker_detail_content_status_color_available {
    color: var(--status-available);
}

.locker_detail_content_status_color_unavailable {
    color: var(--status-unavailable);
}

.locker_detail_content_status_color_outofuse {
    color: var(--status-outofuse);
}

.locker_detail_content_toggleInstructions {
    margin: 1.5rem 0 1.5rem 0;
}

.cursor_pointer {
    cursor: pointer;
}

.locker_detail_content_toggleSvg {
    height: 9.375rem;
    width: 9.375rem;
    cursor: pointer;
}

.locker_detail_content_toggleSvg_outofuse {
    opacity: 0.5;
    cursor: auto;
}

.center {
    text-align: center;
}

.locker_detail_content_instructions {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 300;
    margin: 0;
}

.locker_detail_opmerkingbtn,
.locker_detail_stop_reg_btn {
    margin: 0 0 1.5rem 0;
    background-color: var(--blue-accent-color);
    border-style: none;
    color: white;
    font-family: 'MyFont';
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    height: 2.5rem;
    align-items: center;
}

.locker_detail_stop_reg_btn {
    background-color: var(--status-outofuse);
    display: none;
}

.locker_detail_sendbtn {
    margin: 1.5rem 0 1.5rem;
    background-color: var(--blue-accent-color);
    border-style: none;
    color: white;
    font-family: 'MyFont';
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.centerflex {
    justify-content: center;
    align-items: center;
}

.locker_detail_opmerking {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    font-family: 'MyFont';
    width: 100%;
}

.div_locker_detail_opmerking {
    display: none;
    border: 2px solid var(--blue-accent-color);
    border-radius: 5px;
    padding: 0.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.js-submit {
    display: none;
}

.locker_detail_popup {
    display: none;
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-top: -6.25rem;
    margin-left: -40%;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    text-align: center;
    padding: 1rem;
}

.cancel_registration_btn {
    background-color: var(--status-outofuse);
    border-style: none;
    color: white;
    font-family: 'MyFont';
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.locker_detail_popup_endtimepicker {
    display: none;
    position: fixed;
    width: 18.75rem;
    top: 50%;
    left: 50%;
    margin-top: -6.25rem;
    margin-left: -9.375rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    text-align: center;
}

.locker_detail_popup_terug {
    background-color: var(--status-outofuse);
    border-style: none;
    color: white;
    font-family: 'MyFont';
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2rem;
    min-width: 3.5rem;
}

.stop-registration-message {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--blue-accent-color);
}

.stop-registration-info-confirm,
.stop-registration-info-back {
    border: none;
    margin: 0.5rem;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--blue-accent-color);
    font-weight: 400;
    font-family: 'MyFont';
    font-size: 1rem;
    cursor: pointer;
}

.stop-registration-info-back {
    background-color: var(--status-outofuse);
}

.locker_detail_popup_open {
    background-color: var(--blue-accent-color);
    border-style: none;
    color: white;
    font-family: 'MyFont';
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 2rem;
    min-width: 3.5rem;
}

.open_locker_message {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    margin-bottom: 0rem;
}

.locker_detail_popup_buttons {
    padding: 0.5rem 0rem 1rem 0rem;
}

.pointer {
    cursor: pointer;
}

.start_registration_btn {
    color: white;
    font-family: 'MyFont';
    background-color: var(--blue-accent-color);
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 0.5rem 0 0.5rem 0;
}

/* overview pagina */

.overview_page {
    background-color: var(--grey-bg);
}

.overview_background_container {
    position: relative;
    justify-content: center;
}

.overview_background_image {
    height: calc(100vh - 4.5rem);
}

.js-basketball {
    cursor: pointer;
}

.js-soccer {
    cursor: pointer;
}

.overview_legende {
    position: absolute;
    z-index: 1;
    left: 1rem;
    bottom: 1rem;
    height: 10rem;
    width: 8.5rem;
    background-color: white;
    filter: drop-shadow(0 3px 6px rgba(17, 12, 46, 0.15));
    border-radius: 10px;
}

.overview_legende_grid {
    font-size: 14px;
    display: grid;
    grid-template-columns: 2.5rem calc(8.125rem - 2.5rem);
    grid-template-rows: 1.25rem;
    grid-template-areas: 'icon1 sport1' 'icon2 sport2' 'status1 text1' 'status2 text2' 'status3 text3';
    margin: 12px 0 0 0;
    row-gap: 8px;
}

.basketball_svg {
    height: 1rem;
    width: 1rem;
    grid-area: icon1;
    justify-self: center;
    align-self: center;
}

.basketball_text {
    grid-area: sport1;
    align-self: center;
}

.football_svg {
    height: 1rem;
    width: 1rem;
    grid-area: icon2;
    justify-self: center;
    align-self: center;
}

.football_text {
    grid-area: sport2;
    align-self: center;
}

.svg-unavaible {
    fill: var(--status-unavailable);
}

.svg-outofuse {
    fill: var(--status-outofuse);
}

.svg-avaible {
    fill: var(--status-available-icon);
}

.rect_green {
    width: 1.5rem;
    height: 0.5rem;
    background-color: var(--status-available-icon);
    grid-area: status1;
    justify-self: center;
    align-self: center;
}

.rect_green_text {
    grid-area: text1;
    align-self: center;
}

.rect_orange {
    width: 1.5rem;
    height: 0.5rem;
    background-color: var(--status-unavailable);
    grid-area: status2;
    justify-self: center;
    align-self: center;
}

.rect_orange_text {
    grid-area: text2;
    align-self: center;
}

.rect_red {
    width: 1.5rem;
    height: 0.5rem;
    background-color: var(--status-outofuse);
    grid-area: status3;
    justify-self: center;
    align-self: center;
}

.rect_red_text {
    grid-area: text3;
    align-self: center;
}

/* Login Page */

.login_page_bg {
    background-color: var(--blue-accent-color);
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.login_title {
    height: 4.5rem;
    width: 18.75rem;
    font-size: 3rem;
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
    margin: 1.5rem auto 0 auto;
}

.login_content_bg {
    position: relative;
    width: 18.75rem;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    border-radius: 0.5rem;
}

.login_content {
    font-size: 1.5rem;
    text-align: center;
    color: var(--blue-accent-color);
    padding: 1rem;
}

.login_content_gsm {
    font-size: 1.5rem;
    color: var(--blue-accent-color);
    padding: 1rem;
    text-align: center;
}

.phonenumber_input {
    max-width: 10em;
    font-family: 'MyFont';
    border: 1px solid var(--blue-accent-color);
    border-radius: 5px;
    outline: none;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.gsm-btn-doorgaan {
    margin: 1.5rem 0 1rem 0;
    background-color: var(--blue-accent-color);
    border-style: none;
    color: white;
    font-family: 'MyFont';
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    height: 2.5rem;
    align-items: center;
}

.info-gsm {
    font-size: 1rem;
    color: var(--blue-accent-color);
}

.facebook_login {
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-top: 1rem;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 3rem
}

.desktop {
    display: none;
}

.logo {
    max-width: 10rem;
}

@media (min-width: 550px) {
    .logos {
        padding-top: 5rem;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: flex;
    }
    .logo_2 {
        max-width: 10rem;
    }
}

.login_info {
    font-size: 1rem;
    text-align: center;
    color: white;
    margin: 2rem auto 0 auto;
    width: 80%;
}

.login-links {
    position: absolute;
    bottom: 2em;
    width: 100%;
    text-align: center;
}

.login-link {
    color: white;
}

/*Dashboard*/

.dashboard-content {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.dashboard-content-img {
    display: flex;
    align-items: center;
}

.dashboard-icon {
    margin: 0 0 0 0.8em;
    color: var(--blue-accent-color);
}

/* Reservatiepagina */

.reservations_table,
.users_table {
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    min-height: calc(100vh - 4.5rem);
}

.activities_table {
    padding-bottom: 1.5rem;
    padding-top: 4.5rem;
    min-height: calc(100vh - 4.5rem);
}

.user_management_content {
    margin: 4.5rem 1rem 1rem 1rem;
}

.reservation_legende {
    width: 80%;
    max-width: 20.5rem;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 3.5rem;
    grid-template-areas: 'bezigicon bezigtekst' 'wachtenicon wachtentekst' 'verlopenicon verlopentekst';
    row-gap: 1rem;
    padding-top: 96px;
    padding-bottom: 1rem;
}

.rect_bezig {
    display: grid;
    grid-area: bezigicon;
    height: 1.5rem;
    width: 3.5rem;
    background-color: var(--green-faded);
    border-radius: 5px;
    align-self: center;
    font-size: 0.75rem;
    color: var(--green-bezig);
    align-items: center;
    justify-items: center;
}

.reservation_info {
    font-size: 0.75rem;
    align-self: center;
    margin-left: 1rem;
    font-weight: 300;
}

.rect_wachten {
    display: grid;
    grid-area: wachtenicon;
    height: 1.5rem;
    width: 3.5rem;
    background-color: var(--yellow-faded);
    border-radius: 5px;
    align-self: center;
    font-size: 0.75rem;
    color: var(--yellow-wachten);
    align-items: center;
    justify-items: center;
}

.rect_verlopen {
    display: grid;
    grid-area: verlopenicon;
    height: 1.5rem;
    width: 3.5rem;
    background-color: var(--red-faded);
    border-radius: 5px;
    align-self: center;
    font-size: 0.75rem;
    color: var(--red-verlopen);
    align-items: center;
    justify-items: center;
}

.reservation,
.locker {
    position: relative;
    width: 90%;
    max-width: 20.5rem;
    margin: 1rem auto 0 auto;
    height: 4rem;
    background-color: white;
    border-radius: 0.5rem;
    text-align: start;
}

.reservations_bg {
    background-color: var(--grey-bg);
    min-height: 100vh;
}

.user_picture {
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    margin: 1rem;
}

.gebruiker_icon {
    display: flex;
    position: absolute;
    right: 0;
    padding: 20px 1.25rem 0 0
}

.reservation_grid,
.locker_grid {
    display: grid;
    grid-template-rows: 1.5rem 1.5rem;
    grid-template-areas: 'name' 'date';
    align-self: center;
}

.reservation_name,
.locker_name {
    align-self: center;
    grid-area: name;
    font-size: 1.25rem;
    font-weight: 600;
}

.reservation_date,
.locker_status {
    align-self: center;
    grid-area: date;
    font-size: 0.75rem;
    font-weight: 300;
}

.status_bezig_rect {
    position: absolute;
    right: 56px;
    height: 1.5rem;
    width: 3.5rem;
    background-color: var(--green-faded);
    border-radius: 5px;
    font-size: 0.75rem;
    color: var(--green-bezig);
    align-self: center;
    margin-left: 1rem;
}

.status_wachten_rect {
    position: absolute;
    right: 56px;
    height: 1.5rem;
    width: 3.5rem;
    background-color: var(--yellow-faded);
    border-radius: 5px;
    font-size: 0.75rem;
    color: var(--yellow-wachten);
    align-self: center;
    margin-left: 1rem;
}

.status_verlopen_rect {
    position: absolute;
    right: 56px;
    height: 1.5rem;
    width: 3.5rem;
    background-color: var(--red-faded);
    border-radius: 5px;
    font-size: 0.75rem;
    color: var(--red-verlopen);
    align-self: center;
    margin-left: 1rem;
}

.arrow_more {
    position: absolute;
    height: 24px;
    width: 24px;
    right: 16px;
    align-self: center;
    cursor: pointer;
    color: black;
    transform: scale(0.8);
}

.reservation_details_edit_and_delete {
    width: 90%;
    max-width: 20.5rem;
    height: 2.625rem;
    background-color: white;
    margin: 0 auto 0 auto;
}

.reservation_details_edit {
    width: 50%;
    border-top: 1px solid var(--grey-bg);
}

.reservation_details_edit_2 {
    width: 100%;
    border-top: 1px solid var(--grey-bg);
}

.reservation_details_delete {
    width: 50%;
    border-top: 1px solid var(--grey-bg);
}

.reservation_detail {
    position: relative;
    width: 90%;
    max-width: 20.5rem;
    margin: 0 auto 0 auto;
    background-color: white;
    border-top: 1px solid var(--grey-bg);
    text-align: start;
    height: 2.1875rem;
}

.reservation_detail_title {
    color: var(--grey-bg-dark);
    font-size: 0.75rem;
    font-weight: 600;
    align-self: center;
    position: absolute;
    left: 1rem;
}

.reservation_detail_content {
    font-size: 0.75rem;
    align-self: center;
    position: absolute;
    right: 1rem;
}

.reservation_opmerking {
    background-color: white;
    width: 90%;
    max-width: 20.5rem;
    margin: 0 auto 0 auto;
    border-top: 1px solid var(--grey-bg);
    text-align: start;
    padding: 0 1rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}

.reservation_opmerking_title {
    color: var(--grey-bg-dark);
    font-size: 0.75rem;
    font-weight: 600;
}

.textarea {
    display: block;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    resize: none;
    border: 1px solid lightgrey;
    border-radius: 0.2rem;
    outline: none;
    min-height: 40px;
    line-height: 20px;
    color: black;
    font-weight: 400;
    padding: 0.25rem;
    margin-top: 1rem;
}

.reservation_more_border {
    border-radius: 0.5rem 0.5rem 0 0;
}

.position_fixed {
    position: fixed;
    top: 0;
    z-index: 1;
}

.editicon {
    cursor: pointer;
    color: var(--blue-accent-color);
    height: 24px;
    width: 24px;
}

.deleteicon {
    cursor: pointer;
    color: var(--blue-accent-color);
}

.popupreservation {
    height: auto;
    padding-bottom: 1rem;
}

.editinfo {
    width: 4rem;
    font-size: 0.75rem;
    font-family: 'MyFont';
    outline: none;
    background-color: white;
    border: 1px solid var(--grey-bg);
    border-radius: 0.1rem;
    text-align: center;
}

.checkbox {
    position: absolute;
    display: inline-flex;
    align-items: center;
    left: 1rem;
    color: var(--grey-bg-dark);
    font-size: 0.75rem;
    font-weight: 600;
    align-self: center;
}

.checkbox_input {
    display: none;
    align-self: center;
    position: absolute;
    right: 1rem;
}

.checkbox_box {
    width: 1rem;
    height: 1rem;
    border: 2px solid lightgray;
    border-radius: 3px;
    align-self: center;
    position: absolute;
    right: 1rem;
    content: '';
    cursor: pointer;
}

.checkbox_input:checked + .checkbox_box {
    border-color: var(--blue-accent-color);
    content: url('/svg/iconmonstr-check-mark-17.svg');
}

.canceledit,
.stop_registration {
    fill: var(--red-verlopen);
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    display: flex;
}

.stop_registration {
    fill: white;
}

.doneedit {
    fill: var(--green-bezig);
    color: var(--green-bezig);
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.reservation_detail_content_name {
    border: none;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    font-family: 'MyFont';
    padding-bottom: 0.3rem;
    outline: none;
}

/* Profielpagina */

.profile_picture_content {
    margin-top: 72px;
    text-align: center;
}

.profile_picture {
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    margin: 2rem 0 0.5rem 0;
}

.profile_name {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.profile_icons_container {
    display: grid;
    width: 80%;
    max-width: 31.25rem;
    grid-template-areas: 'afmeldenicon activiteiticon reservatieicon' 'afmeldentext activiteittext reservatietext';
    margin: 1.5rem auto 0 auto;
    row-gap: 0.5rem;
    align-items: center;
    justify-items: center;
}

.profile_icons_container__one-column {
    display: grid;
    width: 80%;
    max-width: 31.25rem;
    grid-template-columns: 1fr;
    margin: 1.5rem auto 0 auto;
    row-gap: 0.5rem;
    align-items: center;
    justify-items: center;
}

.profile_icons_container_container {
    display: grid;
    max-width: 31.25rem;
    grid-template-areas: 'afmeldenicon reservatieicon' 'afmeldentext reservatietext';
    margin: 0 auto 0 auto;
    row-gap: 0.5rem;
    align-items: center;
    justify-items: center;
}

.profile_icon_afmelden {
    color: var(--blue-accent-color);
    width: 1.5rem;
    height: 1.5rem;
    grid-area: afmeldenicon;
}

.profile_icon_afmelden_text {
    grid-area: afmeldentext;
}

.profile_icon_reservations {
    color: var(--blue-accent-color);
    width: 1.5rem;
    height: 1.5rem;
    grid-area: reservatieicon;
}

.profile_icon_reservations_text {
    grid-area: reservatietext;
}

.profile_info_content {
    margin: 1.5rem 2rem 0 2rem;
}

.lightgrey-bg {
    background-color: var(--grey-bg);
    position: absolute;
    width: 100%;
    top: 0;
    min-height: 100vh;
}

.profile_info_title {
    color: #525152;
}

.profile_info_data {
    font-weight: 600;
}

.delete_account {
    color: var(--red-dark);
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/* Lockerbeheer */

.status_selector {
    outline: none;
    border: none;
    text-align: center;
    font-family: 'MyFont';
}

.lockermanagement_open_locker {
    outline: 0;
    text-align: center;
    font-family: 'MyFont';
    background-color: white;
    color: var(--blue-accent-color);
    border: 1.5px solid var(--blue-accent-color);
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    height: 1.5rem;
}

.locker_management_content {
    margin: 6rem 1rem 1rem 1rem;
}

.locker_img {
    align-self: center;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

.locker_status_out_of_use {
    color: var(--red-dark);
}

.locker_status_occupied {
    color: darkorange;
}

.locker_status_available {
    color: var(--status-available);
}

/* Add reservation */

.add_reservation_container {
    position: absolute;
    margin: 6rem 0 0 0;
    background-color: white;
    border-radius: 0.5rem;
    width: auto;
    right: 1rem;
    left: 1rem;
    padding-bottom: 1rem;
}

.add_reservation_content {
    margin: 2rem auto 0 auto;
    text-align: center;
    width: 50%;
    border-bottom: 0.8px solid var(--grey-bg);
}

.add_reservation_title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue-accent-color);
}

.add_reservation_sport,
.add_reservation_date,
.add_reservation_time {
    height: 3rem;
    border-radius: 5px;
    margin: 0.5rem auto 0 auto;
    max-width: 12.5rem;
}

.add_reservation_time_endtimepicker {
    height: 3rem;
    border-radius: 5px;
    margin: 0 auto 0 auto;
    max-width: 12.5rem;
}

.add_reservation_sport_content {
    background-color: white;
    width: 80%;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'MyFont';
    outline: none;
    border: none;
    padding: 0.1rem;
}

.time_selection {
    font-family: 'MyFont';
    text-align: center;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.time_selection_endtimepicker {
    font-family: 'MyFont';
    text-align: center;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.confirm_reservationbtn {
    margin-top: 1.5rem;
    text-align: center;
    background-color: var(--blue-accent-color);
    color: white;
    border: none;
    height: 2.5rem;
    border-radius: 5px;
    width: 50%;
    font-family: 'MyFont';
    cursor: pointer;
    max-width: 12.5rem;
}

.confirm_reservationbtn_container {
    text-align: center;
}

.add_reservation_info {
    text-align: center;
    margin: 1rem auto 0 auto;
    width: 80%;
    font-weight: 300;
    font-size: 0.75rem;
}

.error_message {
    color: var(--red-verlopen);
}

/* Loading screen */

.loading_container {
    position: absolute;
    width: 15rem;
    height: 15rem;
    top: 50%;
    left: 50%;
    margin-top: -7.5rem;
    margin-left: -7.5rem;
}

.locker_detail_blur {
    position: absolute;
    top: 0;
    width: 100%;
}

.privacy_policy_content {
    margin: 6rem 0 2rem 3rem;
}

/* Animations*/

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (min-width: 550px) {
    .locker_detail_blur {
        text-align: center;
    }
    .reservation_legende {
        text-align: start;
    }
    /* .profile_info_content {
        margin: 1.5rem 30% 0 30%;
    } */
    .header_add_reservation {
        font-size: 2rem;
    }
}

@media (min-width: 800px) {
    .centered_content {
        position: absolute;
        left: 12.5rem;
    }
}

@media (max-width: 360px) {
    .reservation_name {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .header_add_reservation {
        font-size: 1.2rem;
    }
    .confirm_reservationbtn {
        font-size: 0.75rem;
    }
    .locker_name {
        font-size: 1rem;
    }
}

@media (min-width: 880px) {
    .reservations_table {
        padding-top: 6rem;
        display: grid;
        grid-template-areas: 'reservation legende';
        max-width: 880px;
        margin: 0 auto 0 auto;
    }
    .reservations_table_content {
        width: 440px;
    }
    .reservation_container {
        grid-area: reservation;
    }
    .reservation_legende {
        grid-area: legende;
        max-height: 116px;
        position: sticky;
        top: 6rem;
        padding: 1rem;
    }
}
