/* LAATSTE VERSIE */

@font-face {
  font-family: 'MyFont';
  src: url(/font/TitilliumWeb-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'MyFont';
  src: url(/font/TitilliumWeb-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'MyFont';
  src: url(/font/TitilliumWeb-Light.ttf);
  font-weight: 300;
}

:root {
  --blue-accent-color: #2771de;
  --blue-accent-color-light: #4992ff;
  --blue-accent-color-dark: #1f48ff;
  --status-available: #008000;
  --status-available-icon: #00ff00;
  --status-unavailable: #ffa500;
  --status-outofuse: #b60000;
  --green-faded: #a9e8a9;
  --green-bezig: #186918;
  --yellow-faded: #fffbc2;
  --yellow-wachten: #944a00;
  --red-faded: #ffcccc;
  --red-verlopen: #b10303;

  --grey-bg: #f2f2f2;
  --grey-bg-dark: #6B6969;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;
  line-height: 1.5;
  font-family: 'MyFont', arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: var(--blue-accent-color-light);
  color: white;
  text-shadow: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

p {
  margin: 0;
}

a:visited,
a:active {
  color: var(--blue-accent-color-dark);
}

a:hover,
a:focus {
  color: var(--blue-accent-color-light);
}

/*Lockerdetailpage*/

.header_smartlocker {
  height: 4.5rem;
  width: 100%;
  background-color: var(--blue-accent-color);
  color: white;
  font-size: 2rem;
  font-weight: 400;
  align-items: center;
}

.header_smartlocker_center {
  margin: auto;
}

.flex {
  display: flex;
}

.header_left_icon {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: 1.5rem;
  cursor: pointer;
}

.header_right_icon {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
}

.booking_icon {
  height: 1.5rem;
  width: 1.5rem;
}

.reservatiebtntext {
  align-self: center;
  margin-left: 8px;
}

.locker_detail_content {
  margin: 1.5rem 1.75rem 1.75rem 1rem;
}

.locker_detail_content_title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25;
  color: var(--blue-accent-color);
  margin-bottom: 0.5rem;
}

.locker_detail_content_info {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.locker_detail_content_status_color_available {
  color: var(--status-available);
}

.locker_detail_content_status_color_unavailable {
  color: var(--status-unavailable);
}

.locker_detail_content_status_color_outofuse {
  color: var(--status-outofuse);
}

.locker_detail_content_toggleInstructions {
  margin: 1.5rem 0 1.5rem 0;
}

.locker_detail_content_toggleSvg {
  height: 11.25rem;
  width: 9.375rem;
  cursor: pointer;
}

.locker_detail_content_toggleSvg_outofuse {
  opacity: 0.5;
  cursor: auto;
}

.center {
  text-align: center;
}

.locker_detail_content_instructions {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 300;
  margin: 0;
}

.locker_detail_opmerkingbtn {
  margin: 0 0 1.5rem 0;
  background-color: var(--blue-accent-color);
  border-style: none;
  color: white;
  font-family: 'MyFont';
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  height: 2.5rem;
  align-items: center;
}

.locker_detail_sendbtn {
  margin: 1.5rem 0 1.5rem;
  background-color: var(--blue-accent-color);
  border-style: none;
  color: white;
  font-family: 'MyFont';
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.centerflex {
  justify-content: center;
  align-items: center;
}

.locker_detail_opmerking {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  font-family: 'MyFont';
  width: 100%;
}

.div_locker_detail_opmerking {
  display: none;
  border: 2px solid var(--blue-accent-color);
  border-radius: 5px;
  padding: 0.5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.js-submit {
  display: none;
}

.locker_detail_popup {
  display: none;
  position: fixed;
  width: 18.75rem;
  height: 12.5rem;
  top: 50%;
  left: 50%;
  margin-top: -6.25rem;
  margin-left: -9.375rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  text-align: center;
}

.locker_detail_popup_terug {
  background-color: var(--status-outofuse);
  border-style: none;
  color: white;
  font-family: 'MyFont';
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 2rem;
}

.locker_detail_popup_open {
  background-color: var(--blue-accent-color);
  border-style: none;
  color: white;
  font-family: 'MyFont';
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2rem;
}

.open_locker_message {
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin-bottom: 0rem;
}

/* overview pagina */

.overview_page {
  background-color: var(--grey-bg);
}

.overview_background_container {
  position: relative;
  justify-content: center;
}

.overview_background_image {
  height: calc(100vh - 4.5rem);
}

.js-basketball {
  cursor: pointer;
}

.js-soccer {
  cursor: pointer;
}

.overview_legende {
  position: absolute;
  z-index: 1;
  left: 1rem;
  bottom: 1rem;
  height: 10rem;
  width: 8.5rem;
  background-color: white;
  filter: drop-shadow(0 3px 6px rgba(17, 12, 46, 0.15));
  border-radius: 10px;
}

.overview_legende_grid {
  font-size: 14px;
  display: grid;
  grid-template-columns: 2.5rem calc(8.125rem - 2.5rem);
  grid-template-rows: 1.25rem;
  grid-template-areas: 'icon1 sport1' 'icon2 sport2' 'status1 text1' 'status2 text2' 'status3 text3';
  margin: 12px 0 0 0;
  row-gap: 8px;
}

.basketball_svg {
  height: 1rem;
  width: 1rem;
  grid-area: icon1;
  justify-self: center;
  align-self: center;
}

.basketball_text {
  grid-area: sport1;
  align-self: center;
}

.football_svg {
  height: 1rem;
  width: 1rem;
  grid-area: icon2;
  justify-self: center;
  align-self: center;
}

.football_text {
  grid-area: sport2;
  align-self: center;
}

.svg-unavaible {
  fill: var(--status-unavailable);
}

.svg-outofuse {
  fill: var(--status-outofuse);
}

.svg-avaible {
  fill: var(--status-available-icon);
}

.rect_green {
  width: 1.5rem;
  height: 0.5rem;
  background-color: var(--status-available-icon);
  grid-area: status1;
  justify-self: center;
  align-self: center;
}

.rect_green_text {
  grid-area: text1;
  align-self: center;
}

.rect_orange {
  width: 1.5rem;
  height: 0.5rem;
  background-color: var(--status-unavailable);
  grid-area: status2;
  justify-self: center;
  align-self: center;
}

.rect_orange_text {
  grid-area: text2;
  align-self: center;
}

.rect_red {
  width: 1.5rem;
  height: 0.5rem;
  background-color: var(--status-outofuse);
  grid-area: status3;
  justify-self: center;
  align-self: center;
}

.rect_red_text {
  grid-area: text3;
  align-self: center;
}

/* Login Page */

.login_page_bg {
  background-color: var(--blue-accent-color);
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.login_title {
  height: 4.5rem;
  width: 18.75rem;
  font-size: 3rem;
  color: white;
  text-align: center;
  border-bottom: 2px solid white;
  margin: 1.5rem auto 0 auto;
}

.login_content_bg {
  position: relative;
  width: 18.75rem;
  height: 8.5rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  border-radius: 0.5rem;
}

.login_content {
  position: absolute;
  font-size: 1.5rem;
  color: var(--blue-accent-color);
  text-align: center;
  top: 1rem;
}

.facebook_login {
  width: 250px;
  margin-top: 1.5rem;
  cursor: pointer;
}

.login_info {
  font-size: 1rem;
  text-align: center;
  color: white;
  margin: 4rem auto 0 auto;
  width: 80%;
}

/* Reservatiepagina */
.reservation_legende {
  width: 80%;
  max-width: 20.5rem;
  margin: 1.5rem auto 0 auto;
  display: grid;
  grid-template-columns: 3.5rem;
  grid-template-areas: 'bezigicon bezigtekst' 'wachtenicon wachtentekst' 'verlopenicon verlopentekst';
  row-gap: 1rem;
}

.rect_bezig {
  display: grid;
  grid-area: bezigicon;
  height: 1.5rem;
  width: 3.5rem;
  background-color: var(--green-faded);
  border-radius: 5px;
  align-self: center;
  font-size: 0.75rem;
  color: var(--green-bezig);
  align-items: center;
  justify-items: center;
}

.reservation_info {
  font-size: 0.75rem;
  align-self: center;
  margin-left: 1rem;
  font-weight: 300;
}

.rect_wachten {
  display: grid;
  grid-area: wachtenicon;
  height: 1.5rem;
  width: 3.5rem;
  background-color: var(--yellow-faded);
  border-radius: 5px;
  align-self: center;
  font-size: 0.75rem;
  color: var(--yellow-wachten);
  align-items: center;
  justify-items: center;
}

.rect_verlopen {
  display: grid;
  grid-area: verlopenicon;
  height: 1.5rem;
  width: 3.5rem;
  background-color: var(--red-faded);
  border-radius: 5px;
  align-self: center;
  font-size: 0.75rem;
  color: var(--red-verlopen);
  align-items: center;
  justify-items: center;
}

.reservation {
  position: relative;
  width: 90%;
  max-width: 20.5rem;
  margin: 1.5rem auto 0 auto;
  height: 4rem;
  background-color: white;
  border-radius: 0.5rem;
  text-align: start;
}

.reservations_bg {
  background-color: var(--grey-bg);
  min-height: 100vh;
}

.user_picture {
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  margin: 1rem;
}

.reservation_grid {
  display: grid;
  grid-template-rows: 1.5rem 1.5rem;
  grid-template-areas: 'name' 'date';
  align-self: center;
}

.reservation_name {
  align-self: center;
  grid-area: name;
  font-size: 1.25rem;
  font-weight: 600;
}

.reservation_date {
  align-self: center;
  grid-area: date;
  font-size: 0.75rem;
  font-weight: 300;
}

.status_bezig_rect {
  position: absolute;
  right: 56px;
  height: 1.5rem;
  width: 3.5rem;
  background-color: var(--green-faded);
  border-radius: 5px;
  font-size: 0.75rem;
  color: var(--green-bezig);
  align-self: center;
  margin-left: 1rem;
}

.status_wachten_rect {
  position: absolute;
  right: 56px;
  height: 1.5rem;
  width: 3.5rem;
  background-color: var(--yellow-faded);
  border-radius: 5px;
  font-size: 0.75rem;
  color: var(--yellow-wachten);
  align-self: center;
  margin-left: 1rem;
}

.status_verlopen_rect {
  position: absolute;
  right: 56px;
  height: 1.5rem;
  width: 3.5rem;
  background-color: var(--red-faded);
  border-radius: 5px;
  font-size: 0.75rem;
  color: var(--red-verlopen);
  align-self: center;
  margin-left: 1rem;
}

.arrow_more {
  position: absolute;
  height: 1rem;
  width: 1rem;
  right: 1rem;
  align-self: center;
  cursor: pointer;
}

.reservation_details_edit_and_delete {
  width: 90%;
  max-width: 20.5rem;
  height: 2.625rem;
  background-color: white;
  margin: 0 auto 0 auto;
}

.reservation_details_edit {
  width: 50%;
  border-top: 1px solid var(--grey-bg);
}

.reservation_details_delete {
  width: 50%;
  border-top: 1px solid var(--grey-bg);
}

.reservation_detail{
  position: relative;
  width: 90%;
  max-width: 20.5rem;
  margin: 0 auto 0 auto;
  background-color: white;
  border-top: 1px solid var(--grey-bg);
  text-align: start;
  height: 2.1875rem;
}

.reservation_detail_title{
  color: var(--grey-bg-dark);
  font-size: 0.75rem;
  font-weight: 600;
  align-self: center;
  position: absolute;
  left: 1rem;
}

.reservation_detail_content{
  font-size: 0.75rem;
  align-self: center;
  position: absolute;
  right: 1rem;
}

.reservation_opmerking{
  background-color: white;
  width: 90%;
  max-width: 20.5rem;
  margin: 0 auto 0 auto;
  border-top: 1px solid var(--grey-bg);
  text-align: start;
  padding: 0.53125rem 0 0.53125rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.reservation_opmerking_title{
  color: var(--grey-bg-dark);
  font-size: 0.75rem;
  font-weight: 600;
}

.reservation_opmerking_content{
  font-size: 0.75rem;
}

.reservation_more_border{
  border-radius: 0.5rem 0.5rem 0 0 ;
}

/* Animations*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 550px) {
  .locker_detail_blur {
    text-align: center;
  }
}

@media (max-width: 360px) {
  .reservation_name {
    font-size: 1rem;
  }
}
